/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	padding-top: 80px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login {
	width: 50%;
margin: auto;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}




input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

button {
	font-family: 'Syne';
	font-weight: 700;
	border-radius: 60px ;
	color: #1D6154;
	border: 1px #1D6154 solid; 
	text-align: center;
	background-color: white;
	padding-right: 15px;
	padding-left: 15px;
	height: 37px;
	
}

button:hover {
	background-color: #1D6154;
	color: white;
}

.Filtres {
	text-align: center;
}

.log {
	font-weight: bold;
}

a:link {
	text-decoration: none;
}

.mdp-oublie {
	color: #1D6154;
	font-weight: bold;
	text-decoration: underline;
	
}

#edite {
	display: none;
	
}

 #contenu-edite {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
 }

 #contenu-edite h2{
	color: white;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 13px;
	margin-top:auto;
	margin-bottom:auto;
	margin-right: 10px;
 }

 #contenu-edite button{
	color: black;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 13px;
	margin-left: 10px;
 }

 #contenu-edite button:hover{
	background-color: white;
	color: black;
 }

 #error-message {
	color: red;
	text-decoration: underline;
 }

 #logout {
	display: none;
 }

 #modif-intro {
	display: none;
	margin-left: 50px;
	margin-top: 10px;
 }

 #modif-projet {
	display: none;
	margin-top: 10px;
	margin-left: 20px;
 }

 .titre-projet {
	display: flex;
	flex-direction: row;
	justify-content: center;
 }

 .modal-btn{
	border: none;
	font-weight: 400;
	cursor: pointer;
	color: black;
 }

 .modal-btn:hover{
	background-color: #FFF;
	color: black;
 }

.modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #333333d3;
}

.modal-container.active{
	display: block;
}

.modal {
	padding: 40px;
	background-color: #FFF;
	position: absolute;
	min-width: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	border-radius: 20px;
}

.modal .projets-modale  {
	width: 80px;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	margin: 10px;
}


.modal article {
	position: relative;
}


.close-modal-js {
	cursor: pointer;
	position: absolute;
	background: white;
	color: gray;
	border-color: white;
	font-size: 24px;
	border: none;
	right: 0;
	margin-right: 20px;
}

.close-modal-js:hover {
	background-color: white;
	color: gray;
}

#modalTitle{
	font-size: 25px;
	font-family: 'Work Sans';
	font-weight: 400;
	color: black;
	margin-top: 20px;
}

.modal-contenu {
	width: 500px;
	margin-left: 20px;
	margin-right: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10px;
	
}

.buttons-modal {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 400px;
	margin: auto;
	border-top:  1px #B3B3B3 solid;
	margin-top: 20px;
}

#add-modal {
	width: 200px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	cursor: pointer;
}

.delete-modal {
	width: 200px;
	margin: auto;
	color: red;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 20px;
	border: none;
}

.delete-modal:hover {
	color: red;
	background-color: white;
	border: none;
	cursor: pointer;
}

.corbeille-modale {
	position: absolute;
	top: 13px;
	right: 13px;
	text-align: center;
	background-color: black;
	padding: 4px;
	border-radius: 4px;
}


.corbeille-modale img {
	width: 10px;
	height: 10px;
	
}

article p {
	margin-left: 10px;
}



.intro-ajout {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#modal-ajout {
	display: none;
}

#return-modal {
	border: none;
	color: gray;
}
#return-modal:hover {
	background-color: white;
	color: gray;
}
.close-modal {
	color: gray;
	border: none;
}

.close-modal:hover{
	background-color: white;
	color: gray;
}

.champs-projet {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	border-bottom:  1px #B3B3B3 solid;
	padding-bottom: 30px;
}

#depop {
	display: flex;
	flex-direction: column;
}

label{
	margin-top: 5px;
	margin-bottom: 5px;
}

#boutonPhoto {
	display: flex;
	align-items: center;
	font-family: 'Syne';
	font-weight: 700;
	border-radius: 60px ;
	color: #1D6154;
	border: 1px #1D6154 solid; 
	background-color: white;
	padding-left: 60px;
	height: 37px;
}

#boutonPhoto:hover {
	color: white;
	background-color: #1D6154;
	border: 1px white solid; 
}

#imgPhoto {
	display: flex;
	width: 120px;
	height: 90px;
	margin: auto;
	margin-top: 20px;
}

#depop {
	background-color: #E8F1F6;
	display: block;
	flex-direction: column;
	align-items: center;
}

#photoBtn {
	display: flex;
	width: 180px;
	align-items: center;
}

#preview {
	width: 130px;
	margin: auto;
}

#photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

